* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v500_68 {
  width: 100%;
  height: 1810px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v502_181 {
  width: 100%;
  height: 619px;
  background: url("../images/v502_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 0px;
  overflow: hidden;
}
.v500_69 {
  width: 100%;
  height: 129px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v500_106 {
  width: 670px;
  height: 318px;
  background: url("../images/v500_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1150px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v500_108 {
  width: 422px;
  color: rgba(83,86,90,1);
  position: absolute;
  top: 1497px;
  left: 700px;
  font-family: Avenir;
  font-weight: Heavy;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v500_109 {
  width: 340px;
  color: rgba(83,86,90,1);
  position: absolute;
  top: 1497px;
  left: 70px;
  font-family: Avenir;
  font-weight: Heavy;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v500_110 {
  width: 443px;
  color: rgba(83,86,90,1);
  position: absolute;
  top: 1545px;
  left: 700px;
  font-family: Sentinel;
  font-weight: Light;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v500_111 {
  width: 478px;
  color: rgba(83,86,90,1);
  position: absolute;
  top: 1545px;
  left: 70px;
  font-family: Sentinel;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v500_112 {
  width: 100%;
  height: 105px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1704px;
  left: 0px;
  overflow: hidden;
}
.v500_113 {
  width: 100%;
  height: 105px;
  background: url("../images/v500_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v500_114 {
  width: 100%;
  height: 105px;
  background: rgba(248,247,242,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v539_81 {
  width: 39px;
  height: 39px;
  background: url("../images/v539_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8999999761581421;
  position: absolute;
  top: 33px;
  left: 932px;
  overflow: hidden;
}
.v539_87 {
  width: 39px;
  height: 39px;
  background: url("../images/v539_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 999px;
  overflow: hidden;
}
.v539_89 {
  width: 39px;
  height: 39px;
  background: url("../images/v539_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1086px;
  overflow: hidden;
}
.v500_162 {
  width: 21px;
  color: rgba(83,86,90,1);
  position: absolute;
  top: 1571px;
  left: 1060px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v500_103 {
  width: 526px;
  height: 295px;
  background: rgba(248,247,242,1);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 51px;
  overflow: hidden;
}
.v500_104 {
  width: 425px;
  color: rgba(0,87,118,1);
  position: absolute;
  top: 196px;
  left: 107px;
  font-family: Avenir;
  font-weight: Light;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v500_105 {
  width: 444px;
  color: rgba(83,86,90,1);
  position: absolute;
  top: 285px;
  left: 107px;
  font-family: Sentinel;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v502_176 {
  width: 698px;
  height: 325px;
  background: url("../images/v502_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 781px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v502_177 {
  width: 611px;
  height: 250px;
  background: rgba(248,247,242,1);
  opacity: 1;
  position: absolute;
  top: 818px;
  left: 589px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v502_178 {
  width: 425px;
  color: rgba(83,86,90,1);
  position: absolute;
  top: 894px;
  left: 658px;
  font-family: Avenir;
  font-weight: Heavy;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v502_179 {
  width: 473px;
  color: rgba(83,86,90,1);
  position: absolute;
  top: 942px;
  left: 658px;
  font-family: Sentinel;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v504_201 {
  width: 473px;
  color: rgba(83,86,90,1);
  position: absolute;
  top: 972px;
  left: 662px;
  font-family: Sentinel;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v504_212 {
  width: 500px;
  height: 318px;
  background: url("../images/v504_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1150px;
  left: 700px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v504_215 {
  width: 86px;
  color: rgba(0,87,118,1);
  position: absolute;
  top: 1619px;
  left: 70px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v552_91 {
  width: 86px;
  color: rgba(0,87,118,1);
  position: absolute;
  top: 1619px;
  left: 700px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v552_92 {
  width: 86px;
  color: rgba(0,87,118,1);
  position: absolute;
  top: 1026px;
  left: 812px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v539_73 {
  width: 335px;
  height: 89px;
  background: url("../images/v539_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 434px;
  overflow: hidden;
}
.v539_79 {
  width: 218px;
  height: 58px;
  background: url("../images/v539_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1728px;
  left: 70px;
  overflow: hidden;
}
